@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-5">Web Application Demonstration</h1>
    <hr />
    <div>
        <p class="mt-4"> Welcome to my demonstration web application. This is a sort of basic demonstration of how web apps work, as well as generally front-end stuff</p>

        <p class="mt-2">This is a welcome page, <a href="/Home/Elements">Elements</a> page will introduce all the main HTML elements you can use in your front-end development. Most of the important building blocks are presented. <a href="/Employees">Employees</a> and <a href="/Employees/SearchForm">Search</a> page both deal with a basic employee database. You are able to freely modify this database. The database is hosted on my Azure.</p>

        <p class="mt-2">And this is how web applications work, broadly - HTML elements plug into backend models, for whatever functionality you need, like running and querying some database, like in this example.</p>

        <p class="mt-2">This app is built using ASP.NET MVC NET5 model, Azure SQL used for database, everything is hosted on Azure. Entity framework migrates two setups - one for login/user name database, and another for employee database.</p>

        <p class="mt-2">Authentication implemented, including Google as authentication provider implementation. Could use many other providers.</p>

        <p class="mt-2"><strong>Forgive low quality CSS formatting, I wanted to demonstrate functionality, first and foremost.</strong></p>

        <p class="mt-2">Source code posted on <a href="">GitHub</a>.</p>

        <p class="mt-2">Thank you for taking a look.</p>
    </div>
</div>


